if(flash)
  .alert(class=flash.type)
    ul
      if(flash.message)
        li #{flash.message}
      if(flash.messages)
        - for (var i = 0; i < flash.messages.length; i++)
            li #{flash.messages[i].msg}