@import './Endurance.scss';
@import './Position.scss';
@import './ScreenName.scss';

.Infos {
    grid-area: Infos;
    display: grid;
    grid-template: "position screenname" 1fr
                    ". endu" 1fr /
                    1fr 1fr;
}
