<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <style>
    main {
      display: grid;
      grid-template: "screen screen"
        "command send"30px / auto 50px;
      height: calc(100vh - 16px);
    }

    #commandScreen {
      grid-area: screen;
    }

    #commandline {
      grid-area: command;
    }

    #commandSend {
      grid-area: send;
    }
  </style>
</head>

<body>
  <main>
    <textarea id="commandScreen" readonly></textarea>
    <input type="text" id="commandline" placeholder="Enter command...">
    <button id="commandSend" onClick="sendMsg()">Send</button>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script>
    const socket = io("http://localhost:3000");
    const command = document.getElementById('commandline');
    const screen = document.getElementById('commandScreen');

    function sendMsg() {
      const value = command.value;
      console.log(value);
      socket.emit("action", value);
    }

    socket.on("state", function (state) {
      console.log(state);
      const message = typeof state === "string" ? state : JSON.stringify(state);
      screen.value += (new Date()).toLocaleString() + " : " + message + "\n";
    });
  </script>
</body>

</html>