extends ../layout/layout

block content
  div#inscription
    h2 Formulaire d'inscription
    div
      form(action = "/users/signup" method = "POST" id="signup_form" class="validator")
        include ../layout/flash
        .form-group
          label(for="username") Nom du compte
          input(name = "username" type = "text" required placeholder = "Nom du compte" class="form-control" value=username)
        .form-group
          label(for="email") E-Mail
          input(name = "email" type = "email" required placeholder = "E-Mail" class="form-control" value=email)
        .form-group
          label(for="password") Mot de passe
          input(name = "password" type = "password" required placeholder = "Password" class="form-control" minLength=5)
        .form-group
          label(for="confirm_pass") Confirmer mot de passe
          input(name = "confirm_pass" type = "password" required placeholder = "Confirmation" class="form-control" minLength=5 data-v-confirm="password" data-v-confirm-message="La confirmation du mot de passe n'est pas valide")
        button(type = "Submit" class="btn btn-primary") Valider